.error_page {
    width: 50%;
}

.error_page > img {
    width: 100%;
}

.error_page > h2 {
    text-align: center;
    font-weight: 500;
}

@media (max-width: 756px) {
    .error_page {
        width: 80%;
    }
}