.my_possition_weather {
    width: 100%;
}

.weather_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_header > img {
    width: 30px;
    
    margin: 0 5px;
}

.weather_header > span {
    font-size: 24px;
}

.weather_block > h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.weather_block  {
    margin: 20px 0;
}

.card_list {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card_list > .card {
    flex-basis: calc(20% - 20px);
    box-shadow: 0 0 5px 5px rgb(255,255,255,.2);
    background: rgba(var(--window-background),1);
    border-radius: 15px;
    margin: 5px 10px;
    padding: 10px 15px;
    text-align: center;
}

.card_list > .card img {
    margin-left: 5px;
    width: 15px;
}

.card_list > .card > h3 {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.card_list > .card > p {
    font-size: 16px;
}

.search_weather {
    max-width: 600px;
    width: 100%;
    margin: 10px auto 0;
}

.search_weather > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_weather input {
    width: 80%;
    height: 30px;
    border-radius:10px;
    border: none;
    padding: 5px 15px;
    border: 1px solid rgb(var(--main-text-color));
    color: rgb(var(--main-text-color));
    font-size: 18px;
    background: none;
}

.search_weather input:focus{
    outline: none;
}

.search_weather button {
    height: 30px;
    width: 20%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(var(--green-color));
    border: none;
    color: rgb(var(--main-text-color));
}

.search_weather button:hover {
    background: rgb(var(--green-active-color))
}

@media (max-width: 1200px) {
    .card_list > .card {
        flex-basis: 28%
    }
}

@media (max-width: 756px) {
    .card_list > .card {
        flex-basis: 40%
    }
}

@media (max-width: 500px) {
    .card_list > .card {
        flex-basis: 90%;
        margin-top: 25px;
    }
    .weather_header {
        flex-wrap: wrap;
    }

    .weather_block > h2 {
        font-size: 28px;
    }
}

