.not_authorize {
    width: 50%;
}

.not_authorize > img {
    width: 100%;
}

.not_authorize > h2 {
    text-align: center;
    font-weight: 500;
}

@media (max-width: 756px) {
    .not_authorize {
        width: 80%;
    }
}